body {
  background: #ac7454;
  .wrapper {
    padding: 30px 20px;
    color: white;
    img {
      width: 100%;
      height: 60vh;
      margin-bottom: 20px;
    }
    .sub {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid white;
      .intro {
        display: flex;
        flex-direction: column;
        border-right: 1px solid white;
        .subTop {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          border-bottom: 1px solid white;
          .notice {
            font-size: 2em;
          }
        }
        .subBottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 30px 20px;
        }
      }
      .desc {
        padding: 40px 30px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    .wrapper {
      .sub {
        display: flex;
        flex-direction: column;
        .intro {
          border-right: none;
        }
        .desc {
          border-top: 1px solid white;
        }
      }
    }
  }
}
