nav a {
  text-decoration: none;
  color: black;
  margin: 2em;
}

nav:first-child {
  display: flex;
  justify-content: center;
}

nav:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
