body {
  background-image: url("./img/girl17.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  gap: 50px;
  padding: 0 50px;
  .title {
    font-size: 2em;
  }
  .sub {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .subTitle {
      font-weight: bold;
    }
  }
  .boxOut {
    width: 50%;
    height: 60vh;
    background-color: rgba($color: #fff, $alpha: 0.3);
    position: absolute;
    bottom: 0;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxIn {
    width: 80%;
    height: 80%;
    background: #f9f4eb;
    color: black;
    padding: 50px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .boxInSignature {
      font-size: 6.5em;
      color: #e7e2d9;
    }
  }
}
